.ok {
    position: absolute;
    right: 5px;
    border: 1px solid black;
}

.information {
    position: relative;
    height: 100vh;
    padding: 2rem;

    #start {
        text-align: center;
        position: relative;
    }

    .elements {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        .circles {
            display: flex;
            align-items: center;
            margin-bottom: 5px;
        }
    }
}

.element {
    text-align: center;
    padding: 0 1rem;
    width: 30%;
    margin-bottom: 10vh;
}

.circle {
    border-radius: 50vh;
    border: 1px solid black;
    min-width: 60px;
    min-height: 60px;
}